.nav{
	font-family:sans-serif;
	font-size: larger
}

.menusection{
	background-color:#b9b988;
}

.menuitem{
	background-color:#f1c8c8
	}

	
#menuinfo{
	font-weight:bold;
}

.menudes{
	font-style: italic;
}


@media screen and (max-width :700px)
{body{
	background-color:grey;
}
}
@media screen and (min-width :701px){
body{
	background-color:yellow;
}

}